.about_top_section{
background-color: #EFEFEF;

  .container{
    .row{
      display: flex;
      align-items: center;
      img{
        width: 100%;
        height: auto;
      }
      h1{
        margin-bottom: 20px;
      }
    }
  }
}