.cart_container{
  padding-top: 70px;
  padding-bottom: 100px;
  @include _media-md-down() {
    padding-top: 20px;
    padding-bottom: 0px;
  }
    h1{
    margin-bottom: 25px;
    font-size: 46px;
    font-weight: 500;
      @include _media-md-down() {
        margin-bottom: 0;
        text-align: center;
      }
      }
  .cart_top_row{
    padding-bottom: 20px;
    position: relative;
    @include _media-md-down() {
    display: none;
    }
      &:before{
      content: " ";
      height: 1px;
      width: auto;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 0;
      background-color: #BABABA;
    }
    .col-md-7{
      h6{
        color: #BABABA;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
    .col-md-5{
      display: flex;
      justify-content: space-between;
      h6{
        color: #BABABA;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
  }
 .cart_row{
   display: flex;
   flex-wrap: wrap;
   padding: 40px 0 0;
   position: relative;
   @include _media-xss-down() {
     padding: 30px 0 50px;
   }
   .cart_row_left{
     display: flex;
       img{
       width: 180px;
       height: 130px;
       margin-right: 20px;
       object-fit: cover;
       flex-shrink: 0;
     }
     div{
       padding-bottom: 60px;
       @include _media-xss-down() {
         padding-bottom: 0px;
       }
     }
     h5{
       margin-bottom: 10px;
       font-size: 18px;
       font-weight: 500;
       color: $brand-primary;
     }
     h6{
        color: #727272;
     }
   }
   .cart_row_right{
     display: flex;
     justify-content: space-between;
     @include _media-md-down() {
       justify-content: end;
       position: absolute;
       bottom: 0;
       right: 0;
     }
       div{
       display: flex;
       height: 46px;
       align-items: center;
     }
     .cart_trash{
       svg{
         font-size: 21px;
         cursor: pointer;
         transition: all 0.3s;
         &:hover{
           color: $brand-hover;
           transition: all 0.3s;
         }
       }

     }
     h5{
       height: 46px;
       display: flex;
       align-items: center;
     }
     ul{
       border: 1px solid black;
       border-left: 0;
       display: inline-flex;
       margin-right: 25px;
       li{
         padding: 10px 20px;
         border-left:1px solid black;
         background-color: white;
         cursor: pointer;
         @include _media-small-down() {
           font-size: 19px;
           font-weight: 500;
         }
         &.active{
           background-color: #EFEFEF;
         }
         &.quantity_li{
           padding: 0;
           input{
             border: none;
             width: 50px;
             height: 100%;
             text-align: center;
           }
         }
       }
     }
   }
 }
  .cart_subtotal_row{
    position: relative;
    padding-top: 40px;
    margin-top: 40px;
    &:before{
      content: " ";
      height: 1px;
      width: auto;
      position: absolute;
      left: 15px;
      right: 15px;
      top: 0;
      background-color: #BABABA;
    }

    h6{
      width: 100%;
      text-align: right;
      font-weight: 400;
      span{
        font-weight: 800;
        margin-right: 12px;
      }
    }
    .btn_checkout{
      text-transform: uppercase;
      color: white;
      display: flex;
      align-items: center;
      height: 50px;
      justify-content: center;
      letter-spacing: 1px;
      border: none;
      transition:all .3s ease-in-out;
      min-width: 310px;
      background-color: #0C1821;
      margin-right: 0;
      margin-left: auto;
      margin-top: 30px;
      &:hover{
        background-color: $brand-hover;
      }
      &:focus{
        background-color: #0C1821 !important;
      }
    }
  }

}