.products {
  @include _media-small-down() {
    position: relative;
    padding-top: 50px;
  }
  .col-md-10{
    position: unset;
  }
  .col-md-10>.row{
    position: absolute;
    top: 0;
  }
  .col-md-2 {
    .toggle_filter {
    display: none;
      font-size: 24px;
      color: $brand-btn;
    }
      @include _media-small-down() {
    display: flex;
      flex-wrap: wrap;
      position: relative;
        height: 100%;
        padding-bottom: 20px;
      .toggle_filter{
        position: absolute;
        width: 100%;
        height: 35px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 20px;
        transition:all .3s ease-in-out;
      }
      &.active{
        .products_filter {
          @include _media-small-down() {
            margin-right: 10px;
            height: 100%;
            overflow: hidden;
            margin-bottom: 0px;
            transition:all .3s ease-in-out;
          }
        }
      }

    }
      .products_filter {
      margin-bottom: 10px;
        @include _media-small-down() {
          margin-right: 10px;
          height: 35px;
          overflow: hidden;
          margin-bottom: 0px;
          transition:all .3s ease-in-out;
        }
          h5 {
            padding-bottom: 10px;
            padding-top: 10px;
            font-weight: 500;
         }

      li {
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-bottom: 3px;
        letter-spacing: 0.3px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        @include _media-small-down() {
          padding-left: 0;
        }
        svg {
          margin-right: 5px;

          &.check_box_active {
            display: none;
          }

          &.check_box {
            display: block;
          }
        }

        &.active {
          svg {
            margin-right: 6px;

            &.check_box_active {
              display: block;
            }

            &.check_box {
              display: none;
            }
          }
        }
      }
    }
  }
}