.home_top_section{
  background-color: $brand-primary;
  color: white;
  position: relative;
  z-index: 0;

  h1{
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
  }
  span{
    color: $brand-hover;
  }
  .slick-slide>div{
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .slick-slide{
    display: flex;
    align-items: center;
    .row{
      min-height: 600px;
      .col-md-4{
        text-align: left;
       margin: auto;
      }
      .col-md-8{
        background-size: cover;
        background-position: center;
        margin-bottom: 90px;
        img{
          position: absolute;
          left: 70%;
          bottom: -90px;
          width: 60%;
          height: 80%;
          object-fit: cover;
        }
      }

    }

  }
}
.home_collections_section{
  position: relative;
  padding-top: 50px;
  margin-bottom: 100px;
  .home_bg_legendary{
    position: absolute;
    width: 80%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 10%;
    z-index: -1;
    object-position: bottom;
    @include _media-small-down() {
      width: 100%;
      left: 0;
    }
  }
  .col-md-4{
    .home_collections_section_inner{
      background-size: cover;
      background-position: center;
      height: 400px;
      display: flex;
      align-items: flex-end;
      position: relative;
      @include _media-big-down() {
        height: 330px;
      }
      @include _media-lg-down() {
        height: 280px;
      }
      @include _media-md-down() {
        height: 200px;
      }
      @include _media-small-down() {
        height: 300px;
        margin-bottom: 15px;
      }
     .d-flex{
       width: 100%;
       align-items: center;
       justify-content: space-between;
       padding: 30px 40px;
       svg{
         color: #E7CF8B;
         transform: rotate(315deg);
         font-size: 35px;
         z-index: 0;
       }
     }
      h6{
        color: $brand-btn;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      a{
        text-transform: uppercase;
        font-size: 30px;
        padding: 50px 40px;
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: 500;
        letter-spacing: 0.15em;
        z-index: 1;
        @include _media-lg-down() {
          padding: 24px 24px;
        }
        @include _media-small-down() {
          padding: 50px 40px;
        }
      }
    }
  }
  .home_collections_legendary {
    margin-top: 35px;
    padding-bottom: 30px;
    @include _media-small-down() {
      margin-top: 0;
    }
    .col-md-5 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    .home_legendary_text{
      font-weight: 500;
      font-size: 17px;
      line-height: 1.3em;
      @include _media-small-down() {
        order:2;
      }
    }
    .home_legendary_image{
      img {
        mix-blend-mode: multiply;
        width: 100%;
        max-width: 400px;
        margin: auto;
        height: auto;
      }
      @include _media-small-down() {
        order:1;
      }
    }
  }
}
.home_product_container {
  .card_product_col{
    .card_product {
      height: 290px;
      @include _media-big-down() {
        height: 260px;
      }
      @include _media-lg-down() {
        height: 220px;
      }
      @include _media-md-down() {
        height: 250px;
      }
      @include _media-small-down() {
        height: 300px;
      }
    }
  }
  .home_product_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 70px;
    margin-bottom: 20px;

    h2 {
      text-transform: uppercase;
    }

    h6 {
      color: $brand-btn;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
    }

    a {
      width: 220px;
      background-color: $brand-btn;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 52px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
      transition:all .3s ease-in-out;
      &:hover{
        background-color: $brand-hover;
        transition:all .3s ease-in-out;
      }
    }
  }
}
.home_instagram_container{
  background-color: #F5F5F5;
  padding: 60px;
  margin-top: 70px;
  margin-bottom: 100px;
  .home_instagram_title{
    text-align: center;
    margin-bottom: 35px;
    h3{
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    a{
     color: $brand-btn;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      margin-top: 10px;
      svg{
        margin-left: 10px;
      }
    }
  }

  .home_instagram{
    position: relative;
    height: 500px;
    div{
      width: 99vw;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .home_subscribe{
    margin-top: 30px;
    display: flex;
    align-items: center;
    img{
      mix-blend-mode: multiply;
      margin-top: 50px;
      width: 100%;
    }
    p{
      max-width: 380px;
      margin-top: 20px;
      color: black;
      font-weight: 500;
      line-height: 1.2;
    }
    form{
      display: flex;
      justify-content: right;
      flex-wrap: wrap;
      margin-top: 30px;
      position: relative;
      max-width: 500px;
      input{
        width: 100%;
        border: none;
        border-bottom: 2px solid #8D8D8D;
        padding-bottom: 10px;
        color: #B0B0B0;
        font-size: 22px;
        background: none;
        padding-right: 160px;
        position: absolute;
        &::placeholder{
          color: #B0B0B0;
        }
      }
      button{
        background: none;
        text-transform: uppercase;
        color: $brand-btn;
        display: flex;
        align-items: center;
        font-size: 23px;
        font-weight: 500;
        border: none;
        letter-spacing: 1px;
        position: absolute;
        right: 0;
        svg{
          margin-left: 10px;
          font-size: 35px;
        }
      }
    }
  }
}