.mobile_menu {
  position: fixed;
  background-color: $brand-primary;
    opacity: 0.94;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
  &.active {
    display: block;
  }

  &.mobile_menu_top{
    width: 100%;
    left: 0;
    bottom: 0;
    top: -200vh;
    padding: 0px 0px 0 0px;
    transition: top ease 450ms;
    &.active {
      top: 70px;
      transition: top ease 450ms;
    }
    ul {
      border-top: 3px solid #E3E3E3;
    }
  }
  &.mobile_menu_left{
    width: 85%;
    min-width: 270px;
    left: -120vw;
    bottom: 0;
    top: 0;
    padding: 0px 0px 0 0px;
    transition: left ease 250ms;
    &.active {
      left: 0px;
      transition: left ease 250ms;
    }
  }
  &.mobile_menu_right{
    width: 85%;
    min-width: 270px;
    right: -120vw;
    bottom: 0;
    top: 0;
    padding: 0px 0px 0 0px;
    transition: right ease 250ms;
    &.active {
      right: 0px;
      transition: right ease 250ms;
    }
  }

  &.mobile_menu_full{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    left: -120vw;
    bottom: 0;
    top: 0;
    padding: 0px 0px 0 0px;
    transition: left ease 250ms;
    &.active {
      left: 0px;
      transition: left ease 250ms;
    }
    div{
      width: 100%;
    }
    ul {
      width: 100%;
      li{
        border-bottom: unset;
        a{
          font-size: 23px;
        }

      .parent {
        padding: 15px 0;
        display: inline-flex;
      }
        &.has-child span {
          color: #b8b8b8;
          position: absolute;
          right: 20px;
          float: right;
          width: 100%;
          height: 32px;
          line-height: 24px;
          display: block;
          -webkit-border-radius: 4px;
          text-align: center;
          margin-top: 5px;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          right: -10px;
          text-align: right;
          top: auto;
          padding-right: 0;
        }
      }
    }
  }



  ul {
    margin-bottom: 20px;
    .current_page_item{
      a{
        color: $white;
        font-weight: 600;
      }
    }
    li {
      display: block;
      position: relative;
      line-height: 35px;
      border-bottom: 1px solid #E3E3E3;
      a {
        padding: 0 15px !important;
        color: $white;
        font-size: 16px;
        display: inline-block;
        width: 100%;
      }
      .sub-menu {
        display: none;
        border-top: 0px solid;
        li{
          border: none;
          .parent{
            padding: 0;
            a {
              padding: 0 30px !important;
              font-size: 16px;
            }
          }
        }
      }

      &.has-child {
        span {
          color: #b8b8b8;
          font-size: 20px;
          float: right;
          width: 100%;
          height: 32px;
          //position: absolute;
          line-height: 24px;
          display: block;
          -webkit-border-radius: 4px;
          text-align: center;
          margin-top: 5px;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          right: 0;
          text-align: right;
          top: 5px;
          padding-right: 20px;
          &:focus {
            background: $white;
            color: $brand-primary;
          }
          i{
            font-size: 15px;
            transition: all .3s ease-in-out;
          }
        }
        &.active {
          span {
            i{
              transition: all .3s ease-in-out;
              transform: rotate(-90deg);
            }
            //i:before {
            //  content: "\f078";
            //}
          }
        }
      }
    }
  }

  .mob_menu_social{
    ul{
      display: flex;
      justify-content: center;
      border: none;
      li{
        border: none;
        a{
          color: #79797f;
          width: 34px;
          height: 34px;
          border-radius: 34px;
          margin: 5px;
          padding: 0 !important;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          background-color: #fff;
          -webkit-box-shadow: 0 0 0 0 #57575a;
          box-shadow: 0 0 0 0 #57575a;
          font-size: 18px;
        }
      }
    }
  }
}