.products_top_section{
  background-image: url("/products.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  z-index: 0;
  min-height: 460px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  @include _media-small-down() {
    margin-bottom: 26px;
    min-height: 320px;
  }
  div{
    margin: auto;
  }
    h1{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
  }
  span{
    color: $white;
  }
}
.collection_col{
  height: 300px;
  margin-bottom: 30px;
  .home_collections_section_inner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
   a{
    position: absolute;
    cursor: pointer;
     color: $brand-btn;
     z-index: 99;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     transition:all .3s ease-in-out;
     &:hover{
       transform: scale(1.5);
       transition:all .3s ease-in-out;
     }
    }
 }
.products_pagination{
  margin-top: 15px;

  ul{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    li{
      border: 1px solid;
      padding: 10px 15px;
      border-radius: 2px;
      margin: 5px;
      cursor: pointer;
    }
  }
}

.single_product_container{
  padding-top: 30px;
  padding-bottom: 70px;
  @include _media-small-down() {
    padding-bottom: 0;
    padding-top: 15px;
  }
    .single_product_image{

      .single_product_image_lg{
        display: flex;
        flex-wrap: wrap;
      }
      .single_product_image_sm{
        display: none;
        .slick-slider{
          width: 100%;
          .slick-track{
            width: 100%;
            div{
              width: 100%;
            }
          }
          .slick-dots {
            bottom: -30px;
            li {
              margin: 0px 3px;

              button:before {
                font-family: 'slick';
                font-size: 12px;
              }
            }
          }
        }
      }
    @include _media-small-down() {
      //order: 2;
      .single_product_image_lg{
        display: none;
      }
      .single_product_image_sm{
        display: block;
        margin-bottom: 55px;
        margin-top: 5px;
      }
    }

      .product_title{
        display: none;
        font-weight: 500;
        max-width: 500px;
        line-height: 1.4em;
        margin-bottom: 20px;
        font-size: 30px;
        @include _media-small-down() {
          margin-bottom: 15px;
          font-size: 22px;
          display: block;
        }
      }
      .width_100{
      padding: 3px 5px;
      width: 100%;
      div{
        width: 100%;
      }
    }
    .width_50{
      padding: 3px 5px;
      width: 50%;
      div{
        width: 100%;
      }
    }

    img{
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  }
  .single_product_content{
    position: sticky;
    top: 100px;
    @include _media-small-down() {
      padding-bottom: 0px;
    }
      .product_title{
      font-weight: 500;
      max-width: 500px;
      line-height: 1.4em;
      margin-bottom: 20px;
        font-size: 30px;
      @include _media-small-down() {
        margin-bottom: 8px;
        font-size: 24px;
        display: none;
       }
      }
    .product_price{
      color: $brand-btn;
      font-weight: 500;
      margin-bottom: 0px;
      letter-spacing: 1.3px;
      @include _media-small-down() {
      font-size: 22px;
      }
      }
    span{
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 10px;
      margin-top: 25px;
      display: inline-block;
      @include _media-small-down() {
        margin-top: 13px;
        font-size: 18px;
      }
      }
    p{
      line-height: 1.4;
      margin-top: 10px;
    }
    h6{
      font-weight: 500;
    }
    .product_options_parent{
      @include _media-small-down() {
        display: flex;
        flex-wrap: wrap;
      }
        .product_options{
          margin-right: 15px;
      }
    }
    ul{
      border: 1px solid black;
      border-left: 0;
      display: inline-flex;
      li{
        padding: 10px 20px;
        border-left:1px solid black;
        background-color: white;
        cursor: pointer;
        @include _media-small-down() {
          font-size: 19px;
          font-weight: 500;
        }
        &.active{
          background-color: #EFEFEF;
        }
        &.quantity_li{
          padding: 0;
          input{
            border: none;
            width: 50px;
            height: 100%;
            text-align: center;
          }
        }
      }
    }
    .single_product_btn{
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      margin-bottom: 40px;
      @include _media-xs-down() {
        margin-top: 24px;
        margin-bottom: 14px;
      }
      button{
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        height: 50px;
        justify-content: center;
        letter-spacing: 1px;
        border: none;
        transition:all .3s ease-in-out;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover{
          background-color: $brand-hover;
          transition:all .3s ease-in-out;
        }
        @include _media-xs-down() {
        width: 100%;
        }
      }
      .btn_add_to_cart{
        min-width: 310px;
        background-color: #0C1821;
        margin-right: 15px;
        &:focus{
          background-color: #0C1821 !important;
        }
         @include _media-lg-down() {
           min-width: 215px;
         }
         @include _media-md-down() {
           min-width: 300px;
         }
        @include _media-xs-down() {
          margin-right: 0;
        }
        }
      .btn_favorites{
        min-width: 200px;
        background-color: #E7CF8B;
        position: relative;
        svg{
          position: absolute;
          left: 16px;
        }
        &:focus{
          background-color: $brand-btn !important;
        }
         @include _media-lg-down() {
           min-width: 215px;
         }
         @include _media-md-down() {
           min-width: 300px;
         }
      }
    }
  }
}

.popup_add_to_cart{
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  letter-spacing: 1px;
  border: none;
  transition:all .3s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  background-color: #0C1821;
  margin-right: 15px;
  &:focus{
    background-color: #0C1821 !important;
  }
  &:hover{
    background-color: $brand-hover;
  }
}

.popup_inner {
  .product_title {
    font-weight: 500;
    max-width: 500px;
    line-height: 1.4em;
    margin-bottom: 0px;
    font-weight: 600;
  }

  .product_price {
    color: $brand-btn;
    font-weight: 500;
    margin-bottom: -10px;
  }
}
.popup_product_options{
  span{
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    margin-top: 15px;
    display: inline-block;
  }
  ul{
    border: 1px solid black;
    border-left: 0;
    display: inline-flex;
    li{
      padding: 10px 20px;
      border-left:1px solid black;
      background-color: white;
      cursor: pointer;
      &.active{
        background-color: #EFEFEF;
      }
      &.quantity_li{
        padding: 0;
        input{
          border: none;
          width: 50px;
          height: 100%;
          text-align: center;
        }
      }
    }
  }
}

.btn_clear_filter{
  text-align: right;
  button {
    background-color: unset;
    margin-bottom: 20px;
    padding: 5px 15px;
    font-weight: 500;
    border: 1px solid #d5d5d5;
    color: #666666;
  }
}